<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Slider</title>
  </head>
  <body>
    <div class="container">
      <section class="slider">
        <i class="glyphicon glyphicon-chevron-left slider__button slider__left" data-button='left'></i>
        <i class="glyphicon glyphicon-chevron-right slider__button slider__right" data-button='right'></i>
        <div class="row">
          <ul class="thumbnails"></ul>
        </div>
      </section>
      
      <script type="text/template" id="slider-row-tmp">
        <h3><%= title %></h3>
        <div class="thumbnails__block">
        <% for(const i in images) { %>
          <div>
            <a href="#" class="thumbnail">
              <img src="<%= images[i] %>" alt="">
            </a>
          </div>
        <% } %>
      </div>
      </script>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>
