.slider {
  position: relative;
  margin: 1.25rem 0;
  padding: 1.25rem 5rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 1px lightgray;
  min-height: 16.125rem;
  
  .row {
    overflow: hidden;
  }
  
  .slider__left,
  .slider__right {
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    cursor: pointer;
    
    &:hover {
      opacity: .7;
    }
  }
  
  .slider__left {
    left: 1rem;
  }
  
  .slider__right {
    right: 1rem;
  }
}

.disable-left {
  &:hover {
    cursor: default;
  }
  .slider__left {
    opacity: .3;
    
    &:hover {
      opacity: .3;
      cursor: default;
    }
  }
}

.disable-right {
  &:hover {
    cursor: default;
  }
  .slider__right {
    opacity: .3;
    
    &:hover {
      opacity: .3;
      cursor: default;
    }
  }
}

.thumbnails {
  top: 0;
  left: 0;
  transition: .6s;
  
  h3 {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 25px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  &, .thumbnails__block {
    display: table;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  li, .thumbnails__block div {
    display: table-cell;
  }
  
  .thumbnails__block {
    width: 100%;
    border: 0;
    border-radius: 0;
    
    .thumbnail {
      min-height: 11.6875rem;
      animation-name: example;
      animation-duration: 1s;
      height: 200px;
      border: 1px solid lightgray;
      display: block;
      border-radius: 3px;

      img {
        display: block;
        width: auto;
        height: 100%;
        max-height: 200px;
      }
    }
    
    div {
      padding-left: 10px;
      max-width: 25%;
      box-sizing: border-box;
      
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@keyframes example {
    from {background-color: lightgray;}
    to {background-color: white;}
}